* 
{
	box-sizing: border-box;
}

.wrapper 
{
	max-width: 1200px;
	margin: auto;	
}

a 
{
	text-decoration: none;
}

body 
{
	padding-top: 44px;
	font-family: 'Roboto', sans-serif;
}

.header 
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_search 
{
	width: 57.5%;
}

.header_search input {
	background: #FFFFFF;
	background: url('../img/icons/home.svg') left 11px center no-repeat;
}

.input input 
{
	padding: 8px 35px;
	width: 100%;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	font-size: 16px;
	line-height: 24px;
}

.header_buttons 
{
	display: flex;
	align-items: center;
}

.header_button 
{
	display: flex;
	align-items: center;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
	border-radius: 2px;
	font-size: 16px;
	color: #595959;
	transition: all .35s;
}

.header_button:hover 
{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.header_button:active 
{
	box-shadow: none;
	transform: scale(0.98);
}

.header_button img 
{
	margin-right: 5px;
	margin-bottom: 2px;
}

.btn 
{
	height: 40px;
	padding: 0 16px;
}

.btn_primary 
{
	background: #1890FF;
	color: #fff;
	margin-right: 10px;
	box-shadow: none;
}

.promo 
{
	color: #302C34;
	background: #FFF1B8 url('../img/pizza.png') no-repeat;
	background-position: 450px -100px;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
	padding: 68px 0 68px 70px;
}

.promo_title h2 
{
	font-weight: 700;
	font-size: 39px;
	line-height: 46px;
}

.promo_subtitle p 
{
	max-width: 638px;
	font-size: 24px;
	line-height: 28px;
}

.main {
	margin-top: 16px;
	background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.restraunts 
{
	margin-top: 60px;
}

.heading 
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.heading_title h2 
{
	margin: 0;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
}

.heading_search 
{
	width: 25.5%;
}
.heading_search input 
{
	background: url('../img/icons/search.svg') left 11px center no-repeat;
}

.cards 
{
	padding-top: 45px;
	padding-bottom: 65px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card 
{
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	border-radius: 7px;
	overflow: hidden;
	width: 33.333%;
	max-width: 380px;
	margin-bottom: 30px;
	background-color: #fff;
	transition: all .35s;
}

.card:hover 
{
	box-shadow: 0px 4px 40px -5px rgba(0,0,0,0.6);
}

.card_restr:hover 
{
	transform: scale(1);
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05); 
}

.card_img 
{
	max-width: 380px;
	max-height: 250px;
}

.card_img img 
{
	object-fit: cover;
	max-width: 100%;
}

.card_body 
{
	padding: 20px 24px 35px;
}

.card_heading 
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card_title h3 
{
	margin: 0;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	transition: all 0.3s;
	color: black;
}

.card_title h3:hover 
{
	opacity: .7;
}

.card_time 
{
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background: #262626;
	border-radius: 2px;
	padding: 1px 8px;
}

.card_info 
{
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 227px;
	font-size: 18px;
	line-height: 32px;
	color: #8C8C8C;
}

.card_rating 
{
	font-weight: bold;
	color: #FFC107;
}

.card_rating img 
{
	margin-right: 7px;
}

.card_pay:after 
{
	content: '';
	width: 5px;
	height: 5px;
	background-color: #8C8C8C;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 13px;
}

.btn_img_restr 
{
	margin-bottom: -3px;
}

.btn_restr 
{
	transition: all .3s;
}

.btn_restr:hover 
{
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.btn_restr:active 
{
	box-shadow: none;
	transform: scale(0.98);
}

.locked {
	overflow: hidden;
}

/*footer*/
.footer {
	padding: 60px 0;
}
.footer__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.footer__nav {
	display: inline-block;
	font-size: 18px;
	line-height: 21px;
	color: #595959;
	text-decoration: none;
	margin-right: auto;
	margin-left: 35px;
}
.footer__nav a:hover {
	opacity: 0.7;
}
.footer__nav a {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: none;
	color: inherit;
}
.footer__nav a:not(:last-child) {
	margin-right: 15px;
}
.footer__social {
	-ms-align-items: center;
	align-items: center;
}
.footer__social img {
	margin-left: 21px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.footer__social img:hover {
	opacity: .7;
}